# Django Backend Settings
DEBUG=True
SECRET_KEY=django-insecure-filmora-movie-platform-secret-key-2026-prod
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend,0.0.0.0,129.159.21.153

# Frontend Settings
VITE_API_URL=http://localhost:8000/api
